<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">

      <h1>Connect Local Account</h1>

      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form class="form-signin" action="/connect/local" method="post">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Local</button>
      </form>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  </body>
</html>
