<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="container">
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="form-signin">
          <a class="btn btn-block btn-lg btn-social btn-twitter" href="/login/twitter">
            <span class="fa fa-twitter"></span>
            Sign in with Twitter
          </a>
          <a class="btn btn-block btn-lg btn-social btn-facebook" href='/login/facebook'>
            <span class="fa fa-facebook"></span>
            Sign in with Facebook
          </a>
          <a class="btn btn-block btn-lg btn-social btn-github" href="/login/github">
            <span class="fa fa-github"></span>
            Sign in with GitHub
          </a>
          <a class="btn btn-block btn-lg btn-social btn-google" href="/login/google">
            <span class="fa fa-google"></span>
            Sign in with Google
          </a>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
